body{
    padding: 10px;
    background-image: url(media/worldmap.jpg);
    background-position-x: right;
    position: relative;
    height: 100%;
}

.heading {
    text-align: center;
    margin: -50px 0 20px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-weight: 700;
}

.searchButton {
    display: flex;
}

.searchButton img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchButton input {
    margin-left: -3px;
    border-color: white;
}

h4 {
    color: white;
}

.footerr {
    position: fixed;
    bottom: 0;
    left: 30%;
    right: 30%;
    background-color: white;
    padding-top: 10px;
    border-radius: 3px;
}